<!DOCTYPE html>
<html lang="en">

<head>
  {{>headerLinks}}
    <title>Vaatavaran</title>
</head>

<body>
   {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                  <!-- left side -->
                  <figure>
                    <img src="images/about.png" alt="" class="img-fluid" title="Vaatavaran">
                  </figure>
                    <div class="col-md-6 col-12 main_header_left">
                        <p>welcome to weather app.</p>
                        <h1>I am a <span class="text-clr">Web Developer</span> and Programmer.</h1>
                        <a href="https://shreya991.github.io/Website-v2/" target="_blank"><button>About Me</button></a>
                    </div>
                    <!-- right side -->
                    <div class="col-md-6 col-12 main_header_right">
                    
                      </div>

                    </div>
                </div>

         </div>
         </div>
        </div>
        {{>footer}}
</body>

</html>